/* criar um site a partir desse
https://www.hiringcoders.com.br/ */
/* border-box: a caixa será contada a partir da borda, ex: width: 100px e padding: 20px nas laterais, ele vai deixar e vai subtrair a partir dos 100px, sobrando 60px, tudo automático, ele mesmo vai calcular... ou seja se eu pedir que esse elemento tenha 100px, ele vai ter 100px.   */

/* ===== RESET =================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* ===== VARIABLES =================================== */
:root {
    /* colors */
    /* --hue: 227; */
    /* HSL color mode */
    /* --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%); */

    --header-height: 4.5em;

    --hue: 240;
    --base-color: #a89907;
    --base-color-second: #bfd4b7;
    --base-color-alt: #f3d915;
    --title-color: #1a1c27;
    --text-color: #2b2f44;
    --body-color:#e9e4bb;
    --base-color-light: hsla(231, 88%, 10%, 0.959);
    /* --base-color-light: #a89907; */
    
}

/* ===== BASE =================================== */
html {
    scroll-behavior: smooth; /* rolagem suave*/
}

body {
    font: 400 1em Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased; /* deixar a fonte um pouco mais leve */
}

.title {
    font: 700 1.875em cursive, sans-serif; /* 1.875em */
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--base-color-light);
    height: 3.5em;
    display: inline-flex;
    align-items: center;
    padding: 0 2em;
    border-radius: 2em;
    transition: background .3s;
}

.button:hover {
    background-color: var(--base-color-alt);
    /* color: var(--base-color); */
}

.divider-1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}

.divider-2 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 65%, 88%, 0.34),
        hsla(var(--hue), 36%, 57%, 1)
    );
}

/* ===== LAYOUT =================================== */
.container {
    /* width: 100%; */
    margin-left: 1.5em;
    margin-right: 1.5em;
    /* margin: 0 auto; 0 => top e botton.... e auto => automático para right e left */
}

.grid {
    display: grid; /* habilita funcionalidades a mais no css*/
    gap: 2em; /*uma das funcionalidades do grid, é o gap que da um espaçamento entre os elementos*/
}

.section {
    padding: 5em 0;
}

.section .title {
    margin-bottom: 1em;
}

#header {
    border-bottom: 1px solid #0246db;
    margin-bottom: 2em;
    display: flex;

    /* para o header ficar prezo ao topo */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

#header.scroll {
    background: var(--base-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#header.scroll a.logo {
    color: white;
}

#header.scroll .logo span,
#header.scroll .icon-menu {
    color: var(--title-color);
}

main {
    margin-top: calc(var(--header-height) + 2rem);
}

/* ===== LOGO =================================== */
.logo {
    font: 700 1.31em cursive, sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

/* ===== NAVIGATION =================================== */
nav {
    height: var(--header-height);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color .2s;
    position: relative;
}

nav ul li a:hover {
    color: var(--base-color);
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);
    
    position: absolute;
    left: 0;
    bottom: -1.5em ;

    transition: width 0.6s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20em;
    transition: 0.2s;
}

nav .menu ul {
    display: none;
}

/* Mostrar menu  */
nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--body-color);

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show .menu ul {
    display: grid;
}

nav.show ul.grid {
    gap: 4em;
}

/* toggle menu */
.toggle {
    color: var(--base-color);
    font-size: 1.5em;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5em;
    right: 1.5em;

    transition: 0.2s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5em;
}

/* ===== HOME =================================== */
#home {
    overflow: hidden; /* significa Transbordar, o que esta passando da borda*/
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img {
    position: relative;
    right: 2.93em;
}

#home .text {
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
}

#home .text h1 {
    margin-bottom: 1em;
}

#home .text p {
    margin-bottom: 2em;
    max-width: 100%;
}

/* ===== ABOUT =================================== */
#about .container {
    margin: 0;
}

#about .image img,
#about .image::before {
    border-radius: 0.25em;
}

#about .text {
    margin-left: 1.5em;
    margin-right: 1.5em;
}